//Porta de acesso do backend
PORT=3000

//Conexão local PG
DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=

//Conexão local PRISMA
DATABASE_URL=""

//Conexões WEB
DATABASE_URL_WEB=""
FRONTEND_URL=""